{% extends 'layouts/base.html' %}
{% block head %}
    <style>
        th > a {
         color: white;
        }
    </style>
{% endblock head %}
{% block content %}
    {% load render_table from django_tables2 %}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row mt-2">
                <form action="{% url "view_internet_courses" %}" method="get" id="form">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name_organization" name="name_organization"
                                       autocomplete="given-name" placeholder="Name or Organization"
                                       value="{{ request.GET.name_organization }}">
                                <label for="name_organization" class="text-capitalize">
                                    Search by Course name or Organization
                                </label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" id='submit' class="btn btn-default search" style="height: 100%;">
                                Search
                            </button>
                        </div>
                        <div class="col-auto">
                            <button type="button" id='reset' class="btn btn-default clear" style="height: 100%;">
                                Clear
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="table-responsive">
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#reset').click(function () {
            $('#name_organization').val('');
        });
    </script>
{% endblock content %}