<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% include "layouts/required_library.html" %}
    <script>
        $(function () {
            $.ajax({
                url: "{% url "get_theme" %}",
                method: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                mode: 'same-origin' // Do not send CSRF token to another domain.
            }).done(function (result) {
                if (result['first_time'] === 'Y') {
                    location.reload();
                }
            })
        });
    </script>
    {% block head %}
    {% endblock head %}
    {% include "layouts/theme_style.html" %}
</head>
<body class="d-flex flex-column min-vh-100"
      style="padding-top: 85px;max-width: 100%;overflow-x: hidden;">
{% block nav %}
    {% include "layouts/nav.html" %}
{% endblock nav %}
{% include "layouts/success.html" %}
{% include "layouts/error.html" %}
<main>
    {% block content %}
    {% endblock content %}
</main>
{% include "layouts/footer.html" %}
</body>
</html>
