{% extends 'layouts/base.html' %}
{% block head %}
    <style>
        .btn-default {
            color: #fff;
            text-transform: uppercase;
            font-family: sans-serif;
            box-sizing: border-box;
            background: linear-gradient(90deg, orange, orange, yellow, white, grey, orange, orange, yellow);
            background-size: 400%;
            border-radius: 30px;
        }

        .btn-default:hover {
            animation: animate 8s linear infinite;
        }

        @keyframes animate {
            0% {
                background-position: 0%;
            }
            100% {
                background-position: 400%;
            }
        }

        .btn-default:before {
            content: "";
            background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
            background-size: 400%;
            border-radius: 40px;
            opacity: 0;
        }

        .btn-default:hover:before {
            filter: blur(20px);
            opacity: 1;
            animation: animate 8s linear infinite;
        }

        .profile-img-style {
            background-color: white;
            position: absolute;
            left: 325px;
            top: 165px;
        }

        .handle-large-text {
            line-break: anywhere;
        }

    </style>
{% endblock head %}
{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-lg-9">
            <div class="row user-form-card justify-content-between">
                <div class="col-lg-3 d-flex align-items-center" style="background-color: orange;">
                    <div class="ms-5">
                        {% if instructor_data.picture %}
                            <img src="{{ instructor_data.picture.url }}"
                                 class="profile-img-style" height="300" width="300" loading="lazy"/>
                        {% elif accounts.google.0.extra_data.picture %}
                            <img src="{{ accounts.google.0.extra_data.picture }}"
                                 class="profile-img-style" height="300" width="300" loading="lazy"/>
                        {% else %}
                            <img src="https://img.icons8.com/material/48/000000/user-male-circle--v1.png"
                                 class="profile-img-style" height="300" width="300" loading="lazy"/>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center h1 mt-5">{{ instructor_data.name }}</div>
                    <div class="text-center h4 handle-large-text">{{ instructor.job_title }}</div>
                    <div class="h4 mt-5"><strong>Bio</strong></div>
                    <div class="h6 handle-large-text">{{ instructor.bio }}</div>
                    <div class="h4 mt-4"><strong>Experience</strong></div>
                    <div class="h6 handle-large-text">{{ instructor.experience }}</div>
                    <div class="text-center mb-2">
                        <a class="btn btn-default mt-4 btn-lg" role="button"
                           href="{% url "view_courses" %}?instructor={{ instructor_data.username }}">
                            View My Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}